<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>El tiempo en Sevilla</h1>
  <p>
    Para obtener los datos del tiempo en Sevilla, pulse el botón de abajo
  </p>
  <ion-grid>
  <ion-row>
    <ion-col>
      Descripción
    </ion-col>
    <ion-col>
      {{ description }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Temperatura máxima
    </ion-col>
    <ion-col>
      {{ temp_max }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Temperatura mínima
    </ion-col>
    <ion-col>
      {{ temp_min }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Temperatura actual
    </ion-col>
    <ion-col>
      {{ temp_current }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Humedad
    </ion-col>
    <ion-col *ngIf="humidity">
      {{ humidity }}%
    </ion-col>
  </ion-row>
</ion-grid>
  <button ion-button block (click)="getWeatherData()">Recuperar datos del tiempo</button>
  <button ion-button color="danger" block (click)="reset()">Limpiar</button>
</ion-content>
